const title = 'Lapse , for Mac';
const description = 'A one-click camera check, right from the menu bar';

const SEO = {
  title,
  description,
  canonical: 'https://lapse.achuth.dev',
  openGraph: {
    type: 'website',
    locale: 'en_IE',
    url: 'https://lapse.achuth.dev',
    title,
    description,
    images: [
      {
        url: 'https://achuth.dev/icons/android-chrome-192.png',
        alt: title,
        width: 1280,
        height: 720
      }
    ]
  },
  twitter: {
    handle: '@achuth_hadnoor',
    site: '@achuth_hadnoor',
    cardType: 'summary_large_image'
  }
};

export default SEO;